<div class="container" ng-controller="ResetPasswordCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-1">
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>
        <!-- RESET PASSWORD FORM -->
        <form name="resetPasswdForm" ng-submit="ctrl.resetPassword()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" ng-class="{ 'has-error': resetPasswdForm.email.$touched && resetPasswdForm.email.$invalid }">
                <input type="email" class="form-control" ng-model="ctrl.user.email"
                       placeholder="Email address" name="email" required>
                <div class="help-block"
                     ng-messages="resetPasswdForm.email.$error" ng-if="resetPasswdForm.email.$touched">
                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                </div>
            </div>
            
            <button type="submit" ng-disabled="resetPasswdForm.$invalid" class="btn btn-default btn-lg">Reset</button>
        </form>

        <hr>

        <p>Need an account? <a ui-sref="SignUp">Signup</a></p>
        <p>Already have an account? <a ui-sref="SignIn">SignIn</a></p>

    </div>

</div>